/*HOME PAGE*/
/*-----SLIDER-CONTAINER-----*/

ul.slider{
    top: 85px;
    position: relative;
    width: 100%;
    height: 600px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.txtbox-slider {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    left: 10%;
    top: 70%;
}

.txtbox-slider h1 {
    margin: 0 !important;
}

.txtbox-slider a {
    text-decoration: none;
    font-style: italic;
    color: #f1801f;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.select-slider {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 20px;
}

.select-slider li {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.select-slider li a {
    display: inline-block;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 20px;
}

/*-----GALLERY-CONTAINER------*/

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 33,3%;
    padding: 5px;
}

.column img {
    width: 100%;
    margin-top: 5px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #444;
}

@media (max-width: 800px) {
    .column {
    flex: 100%;
    }
}

/*-----FRINGE-----*/
.fringe {
    padding: 50px;
    background-color: #f1801f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fringe a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;
}

.fringe p {
    color: white;
    margin-left: 20px;
}

.services {
    display: flex;
}

.txt-services {
    margin-top: 30px;
}

/*-----DESCRIPTION-CONTAINER-----*/
.description-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}

.description-container p {
    margin-top: 15px;
}

.icon-description {
    margin: 0 20px;
}

.icon-description-group {
    display: flex;
}

/*PRODUCTS PAGE*/

.tittle-p h1 {
    padding-top: 5rem;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

.product {
    border: 1px solid rgb(163, 163, 163);
    padding: 10px;
}
.product h3 {
    color: #f1801f;
}

.product span {
    color: #444;
    font-size: 12px;
}

.product img {
    width: 100%;
}

/*CUSTOMERS PAGE*/

.container-customers {
    background-image: linear-gradient(120deg, #4444446a 0%, #4444446a 100%), url(../img/customers/bogota.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container-customers h1 {
    color: white;
    text-align: center;
    padding-top: 80px;
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    margin: auto;
}

.logos img {
    max-width: 200px;
    margin: auto;
}

/*ABOUT US PAGE*/

.about-container{
    background-image: url(../img/andrew-pons-6-RhsUzKO6g-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
}

.about-container img {
    margin: auto;
    padding-top: 5em;
}

.content {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content p {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content h2 {
    color: #f1801f;
}